---
const {
  // title,
  segment
} = Astro.props

const pages = [
  {
    name: 'Work',
    link: '/work',
    icon: 'rings'
  },
  {
    name: 'Sketchbook',
    link: '/sketchbook',
    icon: 'triangle'
  },
  {
    name: 'About',
    link: '/about',
    icon: 'macaroni'
  },
  {
    name: 'Contact',
    link: '/contact',
    icon: 'rings'
  }
]
---

<style>
  header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-bottom: var(--borderSize) solid var(--colorPink);
    padding: var(--gap);
  }

  a[href='#content'] {
    width: 100%;
    text-align: center;
    color: var(--colorBackground);
    background: var(--colorPrimary);
    position: absolute;
    z-index: 1000;
    top: -3rem;
    left: 0;
    right: 0;
    font-size: 1rem;
    padding: .5rem;
    line-height: 2rem;
    transition: var(--transition);
  }

  a[href='#content']:focus {
    top: 0;
  }

  .logo {
    height: 5rem;
    width: auto;
    position: relative;
    z-index: 2;
  }

  nav {
    position: absolute;
    z-index: 1;
    left: var(--gap);
    right: var(--gap);
  }

  ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  ul:after {
    content: '';
    display: block;
    flex: 1;
    order: 3;
  }

  li {
    display: flex;
    align-items: center;
  }

  svg {
    content: '';
    height: 1em;
    width: 1em;
    display: inline-block;
    margin-right: .5em;
  }

  li[data-segment="work"] {
    color: var(--colorGreen);
    order: 1;
  }

  li[data-segment="sketchbook"] {
    order: 2;
    color: var(--colorPink);
  }

  li[data-segment="about"] {
    color: var(--colorGreen);
    order: 4;
  }

  li[data-segment="contact"] {
    order: 5;
    color: var(--colorPink);
  }

  span:not(:hover) {
    color: var(--colorDark);
  }

  a {
    color: currentColor;
    line-height: 0;
    text-decoration: none;
  }

  a:hover svg {
    pointer-events: none;
    transform: scale(100000%) rotate(720deg);
    opacity: 0;
    transition: 3s;
  }

  a.active {
    text-decoration: underline;
  }
</style>
  
<header>
  <a href="#content">skip to content</a>
  <a href="/">
    <h1 class="screenreader">Gabby Windham | {segment}</h1>
    <img class="logo" src="/images/logo.svg" alt="gabbywindham logo">
  </a>
  <nav>
    <ul>
      {pages.map(page => (
        <li data-segment={page.name.toLowerCase()}>
          <a
            href={`${page.link}` || `/${page.name}`}
            class={segment === page.name.toLowerCase() && 'active'}
          >
            <svg viewBox="0 0 1 1" xmlns="http://www.w3.org/2000/svg">
              <use href={`#${page.icon}`} />
            </svg>
            <span>{page.name}</span>
          </a>
        </li>
      ))}
    </ul>
  </nav>
</header>